In [1]:
import MySQLdb
import datetime
import json
import pandas as pd

In [3]:
with open('./credentials.json') as f:
    data = json.load(f)
    username = data['username']
    password = data['password']
    
db = MySQLdb.connect(host="localhost", user=username, passwd=password, db="bbxais_development" )

query1 = "select * from s57objs where f_class IN ('BRIDGE', 'BOYLAT', 'SMCFAC', 'LIGHTS', 'WRECK')"

data = pd.read_sql(query1, con=db)
data.head()

,id,f_class,latitude,longitude,chart_name,tags,created_at,updated_at,lnam
0,4,BRIDGE,37.9431,-122.515,US5CA21M,"{""CATBRG"": ""1"", ""SORDAT"": ""19990316"", ""SORIND""...",2017-12-17 00:00:25,2017-12-17 00:00:25,0226166286990DC8
1,5,BRIDGE,37.9345,-122.435,US5CA21M,"{""CATBRG"": ""1"", ""OBJNAM"": ""Richmond - San Rafa...",2017-12-17 00:00:25,2017-12-17 00:00:25,02261662868E0DC8
2,6,BRIDGE,37.8827,-122.519,US5CA21M,"{""CATBRG"": ""1"", ""SCAMIN"": 59999, ""SORIND"": ""US...",2017-12-17 00:00:25,2017-12-17 00:00:25,02260000756A0001
3,7,BRIDGE,37.9394,-122.464,US5CA21M,"{""CATBRG"": ""1"", ""OBJNAM"": ""Richmond - San Rafa...",2017-12-17 00:00:25,2017-12-17 00:00:25,02261662868C0DC8
4,8,BRIDGE,37.9090,-122.329,US5CA21M,"{""CATBRG"": ""1"", ""SCAMIN"": 59999, ""SORDAT"": ""19...",2017-12-17 00:00:25,2017-12-17 00:00:25,0226166286AB0DC8

In [ ]:
print(len(data))

In [ ]:
# df=data[data.f_class.isin(classes)]

In [ ]:
for index, row in data.iterrows():
    print(index, row['latitude'],row['longitude'])